@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.box {
    width: 1500px;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.box > .Now {
    width: 320px;
    height: 620px;
    border-top: 1px solid rgba(255,255,255,0);
    border-left: 1px solid rgba(255,255,255,0);
    border-bottom: 1px solid rgba(255,255,255,0);
    border-right: 1px solid rgba(255,255,255,0);
    background: rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    border-radius: 10px;

    
}


.box > .Now > .Now1floor {
    width: 320px;
    height: 80px;
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box > .Now > .Now2floor {
    width: 320px;
    height:160px;
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box > .Now > .Now3floor {
    width: 320px;
    height:160px;
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box > .Now > .Now4floor {
    width: 320px;
    height 100px;
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box > .block1 {
    width: 770px;
    height: 800px;
}
